# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/target/
backend/*.jar
backend/*.jar.original

# IDE
.vscode/
.idea/

# Variables sensibles
.env
*.env
application-local.properties

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db